.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.container h3 {
  color: var(--Maine-blue, #5458ea);
  text-align: center;
  font-size: 16px;
  cursor: pointer;
}

.container img {
  margin-top: 90px;
}
.profileData {
  width: 620px;
  background-color: white;
  display: flex;
  flex-direction: column;
  height: 170px;
  padding: 16px;
  border-radius: 12px;
  margin-top: 20px;
}
.field {
  width: 600px;
  height: 30px;
  border: none;
  outline: none;
  border-bottom: 2px solid rgba(247, 246, 249, 1);
}
.field::placeholder {
  color: #c0c0c0;
}
.phoneBlock {
  width: 30px;
  width: 620px;
  background-color: white;
  border-radius: 12px;
  padding: 16px;
}
.phone {
  width: 600px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid rgba(247, 246, 249, 1);
  margin-bottom: 10px;
}
.phoneInput {
  color: rgba(192, 192, 192, 1);
}

.phone button {
  color: rgba(84, 88, 234, 1);
  border: 0;
  background-color: white;
  height: 30px;
  border: none;
  outline: none;
}
.button {
  cursor: pointer;
}
.file {
  opacity: 0;
  width: 0;
  height: 0;
}
.cropper {
  border-radius: 100%;
  object-fit: cover;
}
