.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba($color: #000000, $alpha: 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
}
.modalContent {
  width: 570px;
  height: 520px;
  background-color: white;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.modalContent input {
  width: 250px;
  height: 34px;
  border: none;
  outline: none;
  font-size: 28px;
  margin-bottom: 20px;
}
.modalContent input::placeholder {
  font-size: 28px;
  text-align: center;
  color: #c0c0c0;
  //   margin-bottom: ;
}
.modalContent form {
  display: flex;
  flex-direction: column;
  //   justify-content: center;
  align-items: center;
  gap: 10px;
}
