.labelContainer {
  width: 100%;
  display: flex;
  justify-content: start;
}
.label {
  color: rgba(192, 192, 192, 1);
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 8px;
}
.showPass {
  position: relative;
}
.position {
  position: absolute;
  right: 0;
  top: 5px;
}
