.flex {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
  margin-top: 30px;
}
.arrow {
  display: flex;
  gap: 20px;
  align-items: center;
}
.open {
  opacity: 0;
}
