.container {
  height: 100vh;
  display: flex;
  justify-content: space-between;
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  background-image: url("../../assets/pictures/shoping_bg.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: white;
}

.form {
  width: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20%;
}
.headers {
  display: flex;
  align-items: center;
}
.label {
  width: 100%;
  text-align: start;
}
.purpule {
  color: rgba(84, 88, 234, 1);
  text-decoration: none;
}
