.containerSelect {
  width: 135px;
  height: 95px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 15px;
  position: absolute;
  bottom: -85px;
  left: 120px;
  z-index: 1;
}
.elemContainer {
  display: flex;
  align-items: center;
  gap: 5px;
}
