.modal {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba($color: #000000, $alpha: 0.4);
  z-index: 1;
}
.modalContent {
  width: 565px;
  height: 720px;
  background-color: white;
  border-radius: 30px;
}
.close {
  display: flex;
  justify-content: end;
  margin: 20px;
}
.info {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 24px;
}
.swiper {
  width: 532px;
  height: 320px;
  border-radius: 24px;
}
.input {
  width: 500px;
  height: 40px;
  border: none;
  outline: none;
  background-color: #f7f7f8;
  border-radius: 12px;
  padding-left: 10px;
}
.AddbuttonPurple {
  width: 280px;
  height: 45px;
  border: none;
  border-radius: 12px;
  background-color: #5d5fef;
  margin: 20px auto;
  color: white;
}
