.button {
  width: 280px;
  height: 45px;
  border: none;
  border-radius: 12px;
  background-color: #5d5fef;
  color: white;
}

.btnGray {
  width: 280px;
  height: 45px;
  border: none;
  border-radius: 12px;
  background-color: #f7f7f8;
  color: rgba(156, 164, 171, 1);
}
